.footMainWrapper {
  background-color: var(--primary8);
}

.footWrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 4%;
  color: var(--white);
}

.footWrapper h2 {
  padding-bottom: 15px;
}

.footWrapper section {
  width: 25%;
  max-width: max-content;
}

@media (max-width: 1000px) {
  .footWrapper {
    flex-wrap: wrap;
    gap: 10%;
  }
  .footWrapper section {
    min-width: 300px;
    margin-bottom: 10%;
  }
}
