.mainWrapper {
  position: relative;
  margin: 0;
}

/* Background Blur */
.background {
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: blur(60px);
  transform: translate(0, -50%);
  top: 60%;
}
/* PriceCards.module.css */

.container {
  display: flex;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
  margin-top: 100px;
  cursor: default;
}

.card {
  background-color: rgba(2, 18, 25, 0.656);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(50px);
  border: 1px solid rgba(149, 149, 149, 0.37);
  transition: all 0.3s ease-in-out;
  width: 300px;
  position: relative;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  margin: 40px 0;
}
.card:nth-child(2) {
  padding: 40px;
  width: 340px;
  margin: 0;
}

.svgLogo {
  position: absolute;
  top: 50px;
  right: -150px;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.svgLight {
  filter: blur(60px);
  position: absolute;
  top: 0;
  right: -200px;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.title {
  margin-bottom: 20px;
}

.price {
  margin-bottom: 10px;
  color: var(--gray3);
  position: relative;
}
.price span {
  position: absolute;
  width: 120px;
  height: 8px;
  background-color: red;
  opacity: 0.8;
  left: 0;
  top: 8px;
  transform: rotate(-7deg);
}
.card:nth-child(1) > div > .price span {
  background-color: var(--blue2);
}
.card:nth-child(2) > div > .price span {
  background-color: var(--yellow2);
}

.subtitle {
  margin-bottom: 30px;
  font-weight: 600;
}

.mainFeatures {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mainFeatures li {
  display: flex;
  gap: 15px;
  /* align-items: center; */
}
.mainFeatures svg {
  font-size: 17px;
  margin-bottom: -3px;
}

.dividerWrapper {
  overflow: hidden;
  border-radius: 40px;
  margin: 20px auto;
  width: 50%;
}
.divider1 {
  height: 1px;
  background-color: rgb(15, 15, 15);
}
.divider2 {
  height: 1px;
  background-color: rgba(37, 37, 37, 0.7);
}
.divider3 {
  height: 1px;
  background-color: rgb(62, 62, 62);
}
.divider4 {
  height: 1px;
  background-color: rgba(31, 31, 31, 0.7);
}

.features {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.features li {
  display: flex;
  gap: 15px;
}

.features svg {
}

.button {
  margin-top: 30px;
  width: 100%;
}

.blue {
  color: var(--blue1);
}
.yellow {
  color: var(--yellow1);
}
.red {
  color: var(--red2);
}
