.mediaWrapper {
  display: flex;
  gap: 2px;
}
.mediaWrapper a {
  border-radius: 50%;
  font-size: 25px;
  padding: 10px;
  transition: 0.2s;
  color: var(--white);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
}
.mediaWrapper a:hover {
  background-color: var(--primary3);
}
