.sideLineWrap {
  display: flex;
  color: var(--color4-80);
  text-align: left;
}
.sideLine {
  margin-left: 3px;
  width: 5px;
  height: 25px;
  background-color: var(--color4-80);
  margin-right: 20px;
}
