.cardWrapper {
  width: 49%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2%;
}

.cardWrapper img {
  object-fit: cover;
  height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 12px;
}

.date {
  margin: 13px 0 0 0;
}
.cardWrapper p {
  margin-top: 10px;
}
