.collectionWrapper section {
  border-bottom: 1px solid var(--gray-700);
}
.paddingBottom {
  padding-bottom: 70px;
}
.collectionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}
.title {
  padding-top: 100px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.button {
  margin-left: auto;
}
.meMonitor {
  position: absolute;
  left: 10vw;
  margin-top: -80px;
  z-index: -1;
}

@media (max-width: 992px) {
  .meMonitor {
    display: none;
  }
}
