.photoTextWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.image {
  width: 50%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  filter: drop-shadow(30px 30px var(--primary4));
  border-radius: var(--radius5);
  border-bottom-right-radius: 0;
}

.textDiv h3 {
  margin-bottom: 10px;
}
.textDiv {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textDiv p {
  color: var(--gray7);
}
.iconTextDiv h2 {
  line-height: 40px;
}
.iconTextDiv {
  align-items: end;
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .photoTextWrapper {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .image {
    width: 90%;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .textDiv {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .textDiv h3 {
  }

  .iconTextDiv {
    margin: 0 auto;
  }
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}
.reverse p {
  margin: 30px auto;
}
