.photoTextWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.photoTextWrapper img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border: 3px solid #013d73;
  filter: drop-shadow(-30px -30px 0px #013d73);
  border-radius: 20px;
}

.textDiv {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textDiv h3 {
  padding-bottom: 50px;
  color: var(--gray7);
}

@media (max-width: 600px) {
  .photoTextWrapper {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .photoTextWrapper img {
    width: 100%;
    margin: 0 auto;
    margin-right: -10px;
  }
  .textDiv {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .textDiv h2 {
    margin-top: 40px;
  }
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}
.reverse p {
  margin: 30px auto;
}
